In [69]:
'''
    pandas 关键字：sort_values(by='RowName') sum(1) index df.value_counts()
'''
import pandas as pd
import numpy as np

# 1.导入数据集

In [70]:
rowData={
    '电影名称':['无问西东', '后来的我们', '前任3', '红海行动', '唐人街探案', '战狼2'],
    '打斗镜头':[1, 5, 12, 108, 112, 115],
    '接吻镜头':[101, 89, 97, 5, 9, 8],
    '电影类型':['爱情片', '爱情片', '爱情片', '动作片', '动作片', '动作片']
    }

In [71]:
movie_data=pd.DataFrame(rowData)
pd.DataFrame(movie_data)

    电影名称  打斗镜头  接吻镜头 电影类型
0   无问西东     1   101  爱情片
1  后来的我们     5    89  爱情片
2    前任3    12    97  爱情片
3   红海行动   108     5  动作片
4  唐人街探案   112     9  动作片
5    战狼2   115     8  动作片

In [72]:
movie_data

    电影名称  打斗镜头  接吻镜头 电影类型
0   无问西东     1   101  爱情片
1  后来的我们     5    89  爱情片
2    前任3    12    97  爱情片
3   红海行动   108     5  动作片
4  唐人街探案   112     9  动作片
5    战狼2   115     8  动作片

In [73]:
new_data=[24, 67]

In [74]:
# 计算距离

In [75]:
dist=list((((movie_data.iloc[:,1:3]-new_data)**2).sum(axis=1)**0.5))
dist

[41.048751503547585,
 29.068883707497267,
 32.31098884280702,
 104.4030650891055,
 105.39449701004318,
 108.45275469069469]

In [76]:
dist_l = pd.DataFrame({'dist':dist, 'labels': movie_data.iloc[:, 3]})

In [77]:
dist_l

         dist labels
0   41.048752    爱情片
1   29.068884    爱情片
2   32.310989    爱情片
3  104.403065    动作片
4  105.394497    动作片
5  108.452755    动作片

In [78]:
# 距离排序

In [79]:
dr = dist_l.sort_values(by='dist')[:4]

In [80]:
dr

         dist labels
1   29.068884    爱情片
2   32.310989    爱情片
0   41.048752    爱情片
3  104.403065    动作片

In [81]:
# 计算类型频率

In [82]:
re = dr.loc[:, 'labels'].value_counts()

In [83]:
dr.labels.value_counts()

爱情片    3
动作片    1
Name: labels, dtype: int64

In [89]:
re.index[0]

'爱情片'

## 封装

In [65]:
import pandas as pd
'''
    函数说明: KNN分类器
    参数说明: 
        new_data: 要预测数据集
        dataSet: 训练集
        k: 最近的K个点
    返回:
        result: 分类结果
'''
def knnClassify(new_data, dataSet, k):
    result = []
    dataSet = pd.DataFrame(dataSet)
    dist = list((((dataSet.iloc[:, 1:3] - new_data)**2).sum(1))**0.5)
    dist1 = pd.DataFrame({'dist':dist, 'labels':(dataSet.iloc[:, 3])})
    dr = dist_l.sort_values(by='dist')[: k]
    re = dr.loc[:, 'labels'].value_counts()
    result.append(re.index[0])
    
    return result

In [68]:
inx = [100, 101]
dataSet = movie_data
k=3
knnClassify(inx, dataSet, k)

['爱情片']